<link rel="stylesheet" href="/public/assets/css/bootstrap.css">
<link rel="stylesheet" href="/public/assets/css/font-awesome.css">
<link rel="stylesheet" href="/public/assets/css/custom.css">
<link rel="stylesheet" href="/public/assets/img/find_user.png">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#formAdd').on('submit',function (e){
            e.preventDefault();
            const username =$('#txtUsername').val();
            if(username.length===0){
                alert('Username is empty');
                return;
            }
            $.getJSON(`/is-available?username=${username}`,function(data){
                if(data===false){
                    alert('Username has already existed')
                }
                else
                    $('#formAdd').off('submit').submit();
            })

        })
    </script>
{{/section}}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>Add new account </h2>
            <h5>Welcome to my web, Love to see you back! </h5>

        </div>

    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="reg-form">
                        <div class="container">
                            <div class="reg">
                                <h3>Add new account</h3>
                                <p style="margin-top: -20px">Welcome, please enter the following details to continue.</p>
                                <form action="/add" id="formAdd" method="POST" autocomplete="off">

                                    <form>

                                        <div class="form-group">
                                            <label> Full name </label>
                                            <input  type="text" class="form-control" placeholder="Fullname" name="fullname"  >
                                        </div>

                                        <div class="form-group">
                                            <label> Username </label>
                                            <input id="txtUsername" type="text" class="form-control" placeholder="Username" name="username" >
                                        </div>

                                        <div class="form-group">
                                            <label> Password </label>
                                            <input type="text" class="form-control" placeholder="Password" name="password" >
                                        </div>
                                        <div class="form-group">
                                            <label> Email </label>
                                            <input type="text" class="form-control" placeholder="Email" name="email" >
                                        </div>
                                        <input type="submit" class="btn-success" value="Submit">

                                    </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>
<!-- /. ROW  -->
</div>
</div>
</div>
