<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>Login Admin </h2>
            <h5>Welcome to my web, Love to see you back! </h5>

        </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="login">
                        <div class="container">
                            <div class="login-grids", style="align-items: center">
                                <div class="col-md-6 log">
                                    <h3>Login</h3>
                                    <div class="strip"></div>
                                    <p style="margin-top: -20px">Welcome, please enter the following to continue.</p>
                                    <form action="/login", method="post">
                                        {{#if wrongPassword}}
                                            <h3>Username or password is incorrect</h3>
                                        {{/if}}
                                        <h5>Username:</h5>
                                        <input type="text" name="username" >
                                        <h5>Password:</h5>
                                        <input type="password" name="password"><br>
                                        <input type="submit" class="btn btn-danger" style="margin-top: 15px" value="Login">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-12">
        <h3>More Customization</h3>
        <p>
            For more customization for this template or its components please visit official bootstrap website i.e getbootstrap.com or <a href="http://getbootstrap.com/components/" target="_blank">click here</a> . We hope you will enjoy our template. This template is easy to use, light weight and made with love by binarycart.com
        </p>
    </div>
</div>
<!-- /. ROW  -->
</div>
</div>
</div>